{% extends 'films/layoute.html' %}

{% block title %}
  <title>Фильмы</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Обзор моих фильмов</h1>
  {% if news %}
    <div class="row">
      {% for new in news %}
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title"> {{ new.title }} </h3>
              <p class="card-text"> {{ new.short_description }} </p>
              <p class="card-text"> {{ new.text }}</p>
              <h5 class="card-subtitle mb-2 text-muted"> {{ new.raiting }} </h5>
              <p class="card-text"><small class="text-muted">{{ new.responce1 }}</small></p>
              <p class="card-text"><small class="text-muted">{{ new.responce2 }}</small></p>
              >
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-muted">Пока нет новостей - это хорошая новость.</p>
  {% endif %}
</div>
{% endblock %}